@import './styles/reset';
@import './styles/variables';

#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: $font-inter-regular;
  font-weight: 400;
  line-height: 1.5;
  background-color: #F8F9FA;
  color: #212529;
}